.home-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.box.welcomes-box {
  width: 700px;
}

.welcomes-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  > .logo {
    width: 160px;
    height: 40px;

    object-fit: contain;

    margin-bottom: 20px;
  }
}

.welcomes-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.file-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .box.welcomes-box {
    width: 380px;
  }

  .file-form {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 430px) {
  .box.welcomes-box {
    width: 320px;
  }
}
